[Desktop Entry]
Type=Link
Name=User_similarity_logs
URL=https://docs.google.com/document/d/1JElqR6z5le_WAKWpmeNw-X71jc5wtwQDFvgV_-SGRLo/edit?usp=drivesdk
