{% extends "layout.html" %}
  {% block content %}
    <div class='wrapper'>
      <h3>About Us</h3>
      <p>In this digital age, where geographical distance doesn't matter and at a time when remote work is gaining ground, we bring employers and freelancers together in an efficient and seemless manner to bring overall value to all parties connected. Our state-of-the-art recommendation engine makes sure the users, whether job seekers or job providers, get the most relevant and personalized recommendations which are tailor-made according to their needs. </p>
    </div>
  {% endblock content %}